# Python
__pycache__/
*.py[cod]
*.egg-info/

# Builds
build/
dist/

# PyInstaller
*.spec
!code-down.spec

# Tests
.pytest_cache/
.coverage
htmlcov/

# Outputs
*.pdf

# OS / Editors
.DS_Store

# Env
.env
.venv/
